@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet") (https://www.istockphoto.com/fr/photo/restaurant-gm454269671-25919612);
@import url("https://fonts.google.com/?query=redress");
.Merriweather {
font-family: 'Merriweather' serif;

}
.cc-navbar{
background-color: rgba(0,0,0,0.55) ;
font-family: 'Merriweather', serif;
box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
}

.banner {
    background-image: url('../images/banniere1.jpg');
    background: linear-gradient(rgba(0,0,0,0.5)) (rgba(0,0,0,0.5));
       
    background-size: cover;
    height: 800px;
}

.banner .banner-desc{
   font-size: 48px;
   font-weight: 400; 
   color: rgb(33, 5, 5);
   
}

.btn-order{
    color: rgb(215, 20, 20);
    border-color:  rgb(18, 21, 190);
    transition: 0.5s;
}
.btn-order:hover
.btn-order:active {
    color: white;
    background-color:rgb(18, 190, 64) ;
}